<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/jd2_project</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <mapping class="by.itacademy.entity.User"/>
        <mapping class="by.itacademy.entity.Hero"/>
        <mapping class="by.itacademy.entity.HeroAbility"/>
        <mapping class="by.itacademy.entity.Topic"/>
        <mapping class="by.itacademy.entity.Message"/>
        <mapping class="by.itacademy.entity.HeroTopic"/>
        <mapping class="by.itacademy.entity.HeroTopicMessage"/>
        <mapping class="by.itacademy.entity.News"/>
        <mapping class="by.itacademy.entity.NewsComment"/>
    </session-factory>
</hibernate-configuration>