<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/jd2_project</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!--<property name="hbm2ddl.auto"></property>-->

        <mapping class="by.itacademy.entity.common.User"/>
        <mapping class="by.itacademy.entity.common.Hero"/>
        <mapping class="by.itacademy.entity.common.HeroAbility"/>
        <mapping class="by.itacademy.entity.common.Topic"/>
        <mapping class="by.itacademy.entity.common.Message"/>
        <mapping class="by.itacademy.entity.common.HeroTopic"/>
        <mapping class="by.itacademy.entity.common.HeroTopicMessage"/>
        <mapping class="by.itacademy.entity.common.News"/>
        <mapping class="by.itacademy.entity.common.NewsComment"/>
        <mapping class="by.itacademy.entity.common.ForumTopicGlobal"/>
        <mapping class="by.itacademy.entity.common.ForumTopicSimple"/>
        <mapping class="by.itacademy.entity.common.ForumPost"/>
        <mapping class="by.itacademy.entity.common.RoleOfUser"/>
        <mapping class="by.itacademy.entity.other.Address"/>
    </session-factory>
</hibernate-configuration>