<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>Join League of Legends</title>
	<link rel="shortcut icon" href="/resources/images/header/gt_favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resources/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/resources/css/main.css">
	<script src="/resources/js/html5shiv.js"></script>
	<script src="/resources/js/respond.min.js"></script>
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/resources/images/header/logo.png" alt="Progressus HTML5 template"></a>
			</div>


			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/news">News</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">GemeInfo<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="/">Heroes</a></li>
						</ul>
					</li>
					<li><a href="/forum">Forum</a></li>
					<li><a href="/user">User</a></li>
					<li><a class="btn" href="signin">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">JOIN OUR COMMUNITY</h1>
				<p><a class="btn btn-default btn-lg" role="button" href="/">MORE INFO</a>
					<a class="btn btn-action btn-lg" role="button" href="https://signup.eune.leagueoflegends.com/en/signup/redownload">DOWNLOAD NOW</a>
				</p>
			</div>
		</div>
	</header>
	<!-- /Header -->
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Reasons to play this game</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Low system requirements</h4></div>
					<div class="h-body text-center">
						<p>LoL does not require a steep computer to run. Ancient laptops, grandmother's computers, machines at work - minimal system requirements will allow running the game almost on the refrigerator!</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Easy to learn</h4></div>
					<div class="h-body text-center">
						<p>To fully adapt users, special Bots-mentors have been created, which help novice gamers to get used to the virtual world. In addition, each task is built in such a way as to gradually train you.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Regular updates and support for developers</h4></div>
					<div class="h-body text-center">
						<p>LoL is the only project Riot is working on. Therefore, developers pay special attention to it. It is regularly updated and updated.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>friendly community</h4></div>
					<div class="h-body text-center">
						<p>Compared with other games in the genre MOBA, you will meet a lot less inadequate players. Also in the game there is no voice communication and you do not have to listen to how to play from the twelve-year old pro players </p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>FREE CHAMPIONS OF THE WEEK</h3>
				<p>Every week 10 champions are selected, performing in different roles, for which you can play for free. This gives the callers the opportunity to try to play for the champions, who are interested in them. In addition, it increases the number of available champions for summoners who started playing not long ago.</p>
			</div>
			<div class="col-sm-6">
				<h3>WHAT RULES SHOULD BE AVOIDED WHEN CHOOSING THE NAME OF THE CALLER?</h3>
				<p>
					The names of all conscripts must comply with the Terms of Use. The most unseemly names and names that include profanity will be filtered automatically. But in the end, the task of choosing an acceptable name falls on you.
					The summoner's name must be at least 3 and not longer than 16 characters.
					The caller's name can not contain the word "Riot".
					Your caller name should not contain information that you can be identified. For example, your real name or address. If it turns out that your caller's name contains such information, Riot Games has the right to change it.
					An attempt to present yourself as a cyber sportsman or impersonate a cybersport is also considered a violation, even if the system allows you to choose a given name. Such names of summoners can also be changed.</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Where can I download the client?</h3>
				<p>
					See the link above or go to the official website of Lague of Legends <a href="https://signup.leagueoflegends.com/ru/signup/redownload">download</a>
				</p>
			</div>
		</div> <!-- /row -->

</div>	<!-- /container -->

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p><a href="mailto:#">olfourd@gmail.com</a><br></p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> |
								<a href="/news">News</a> |
								<a href="/forum">Forum</a> |
								<a href="/user">User</a> |
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								2017, Olfourd.
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/resources/js/headroom.min.js"></script>
	<script src="/resources/js/jQuery.headroom.min.js"></script>
	<script src="/resources/js/template.js"></script>
</body>
</html>